<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/resoure1/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/resoure1/iconfont/iconfont.css?v={{.BuildIn.Version}}">
<link rel="stylesheet" href="/resoure1/markdown-css/github-markdown.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/common.css?v={{.BuildIn.Version}}">

<!-- Bootstrap&jQuery -->
<script src="/resoure1/jquery/jquery.min.js"></script>
<script src="/resoure1/bootstrap/popper.min.js"></script>
<script src="/resoure1/bootstrap/bootstrap.min.js"></script>
<script src="/resoure1/iconfont/iconfont.js?v={{.BuildIn.Version}}"></script>
<script src="/resoure1/jquery/jquery.form.min.js"></script>
<script src="/resoure1/jquery/jquery.validate.min.js"></script>
<script src="/resoure1/jquery/sweetalert.min.js"></script>

<!-- Markdown Plugins -->
<script src="/resoure1/marked/marked.min.js"></script>
<script src="/resoure1/md-toc/md-toc.js"></script>

<!-- Custom JS -->
<script src="/js/common.js?v={{.BuildIn.Version}}"></script>
<script src="/js/encrypt/md5.js"></script>

<title>{{.Title}}</title>
<meta name="keywords" content="{{.Keywords}}"/>
<meta name="description" content="{{.Description}}"/>